.image {
    max-width: 75%;
    height: auto;
}
img, video {
    max-width: 100%;
    height: auto;
}
.slick-dots{
    position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: initial;

}